.username {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}

.Login{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: transparent;
}

.Signup{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
    -fx-border-color: #B17457;
    -fx-border-width: 1;
    -fx-background-color: transparent;
}

.LoginPageBg {
    -fx-background-color: #F2EED7;
}

.SignuoPageBg{
    -fx-background-color: #F2EED7;
}

.createAccountBtn {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: transparent;
}

.LoginBtn{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: transparent;
}

